/****** USAGE NOTES 

Use style sheets for text attributes only. Other tags are really varied between the browsers and get weird results. link color specification does not work in IE, need to keep that in the html doc 

May seem odd but do NOT put any kind of quotes around hex color values. Use DIV rather than SPAN because IE for Windows sometimes has problems associating a style with span

Notes--syntax not used below 

/* text-indent: 2em; any measurement that uses em seems to cause the printing problems, when a page will take 500 pages to print */ 
/* white-space: pre; */ 
/* font-weight: normal; */ 
/* line-height: 1.3; has more effect in NN than IE */ 

******/

/****below are definitions specific to formatting of bibliographical search results****/

.highlight
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
background: #FBF49C
}

.author
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size:small ;
color: green;
font-weight: bold;
}

.title
{
font-family: "Times New Roman", "Book Antiqua", Georgia, Times, serif;
font-size: small;
font-style: italic;
}

.edition 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.publication
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small; 
}

.date
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.collation 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.notes 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
margin-left: 10px ;
}

.subjects
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.language
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
margin-left: 10px ;

}

.names
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.series2
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}


.series1
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.recordnum
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: navy;
margin-left: 10px ;
}


.callnumber
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: navy;
margin-left: 10px ;
}





/************ specific to Joshi***********/

.titlevaries  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.continues   
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

.othereditions
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}




.continuedby 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.affiliation 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.editors     
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.founders   
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.owners     
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.publishers  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.press       
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.authority   
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.publocation  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.frequency    
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.pubdates   
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
} 
.holdings    
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small; 
}

/****below are definitions specific to formatting of indexes search results, indexes use most of the bibliographic definitions above but there are some additional definitions below ****/

.article
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.translation
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.citation
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}
.journal
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-style: italic;
}
.edited
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

/*******Sanskrit page elements below******/

.gray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: gray;
}

.tallgray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: gray;
}

.boldgray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
font-weight: bold;
color: gray;
}

.bitboldgray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-weight: bold;
color: gray;
}

.bitboldbrown
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-weight: bold;
color: #804000; 
}

.tinyboldgray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
font-weight: bold;
color: gray;
}

.tinygray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
color: gray;
}

.sansgray
{
font-family: "Courier New", Arial, Courier;
font-size: x-small;
color: gray;
}

td.bitboldgray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-weight: bold;
color: gray;
}

td.boldgray
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
font-weight: bold;
color: gray;
}

/*******Regular page elements below******/

BODY 
{
background-color: #ffffff;
background-image: none;
}

P 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-variant: normal; /*normal | small-caps*/
}

Blockquote 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

UL 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
}

LI 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
line-height: 1.3;
}

.regular 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-variant: normal; /*normal | small-caps*/
}

.dico_info {

}
.include1
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
color: maroon;
}

.include2 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
color: black;
}

.CRL 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: green;
font-weight: bold;
}

.bigblue  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
font-weight: bold;
color: navy;
}

.biggerblue  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: large;
font-weight: bold;
color: #006699;
}

.thinnerblue 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: #006699;
}

.otherbit
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: #006699;
}
.mediumblue  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: navy;
}
.regularblue  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: navy;
}
.bitblue
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: navy;
}
.bitbluebold
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: navy;
font-weight: bold; 
}

.bitred
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: maroon;
}

.bigredbold
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: maroon;
font-weight: bold;
}

.bigred
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: maroon;
}

.biggerred
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: large;
color: maroon;
}

.bitblack
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size:small;
color: black;
}

.bitgreen
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size:small; 
color: #006600;
}

.thinnergreen 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium; color: #006600;
}

.tallergreen 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size:  large; color: #006600;
}

.biggergreen 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium; color: #006600;
font-weight: bold; 
}

.bitbold
{font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-weight: bold; color: Black;
}

.smallbitbold
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
font-weight: bold; 
color: Black;
}

.small
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
color: Black;
}

td.strong  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
font-weight: bold;
}

td 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium; 
}

td.dhivehi {
        font-family: 'A_Faseyha';
        src: url('/dictionaries/maniku/A_Faseyha.ttf') format('truetype');
}

td.footer {
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
}

td.turner {
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
}

td.bold
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-weight: bold;
}

td.thinnerblue 
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: #006699;
}

td.search
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
}

td.bigblue  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
font-weight: bold;
color: navy;
}

td.mediumblue  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: navy;
}
td.regularblue  
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: navy;
}

td.blue
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
color: #006699;
font-weight: bold;
}

td.green
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: medium;
color: #006600;
font-weight: bold;
}

td.nav
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: small;
font-weight: bold;
}

td.small
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
}

td.red
{
font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
font-size: x-small;
color: maroon;
}

.body_div {
    display:block;
    margin: auto;
    width: 90%;
}
.footer {
}

#page {
    display:block;
    margin: auto;
    width: 90%;
}

#query_display {
    display:block;
    margin: auto;
    width: 90%;
    font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
    font-size: medium;
}

#display_toggle {
    display:block;
    margin: auto;
    width: 90%;
    font-family: "Book Antiqua", Georgia, "Times New Roman", Times, serif;
    font-size: medium;
}


#page_turner{
    display:block;
    margin: auto;
    width: 90%;
}

.results_display {
    display:block;
    margin: auto;
    width: 90%;
}

.hw_result {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #fff;
}

.h2 {
    display:block;
    margin: auto;
    width: 80%;
}

